cron_descriptor==1.4.3
croniter==2.0.3
customtkinter==5.2.2
Fabric==3.2.2
matplotlib==3.8.2
pandas==2.2.2
paramiko==3.4.0
Pillow==10.3.0
plyer==2.1.0
pycryptodomex==3.20.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
PyQt6==6.7.0
PyQt6_sip==13.6.0
PyQt_Fluent_Widgets==1.5.0
pyqt_line_number_widget==0.0.1
pyqt_translucent_full_loading_screen_thread==0.3.0
pyqtgraph==0.13.4
PySide6==6.6.1
PySide6==6.7.1
PySide6_Addons==6.6.1
PySide6_Essentials==6.6.1
pysnmp==4.4.12
scp==0.14.5
shiboken6==6.6.1
ssh_session_manager==0.5.1
tqdm==4.66.1
win10toast==0.9
fabric==3.2.2
pandas==2.2.2
pillow==10.3.0
PyQt5==5.15.10
PyQt6==6.7.0
PySide6==6.7.1